/* Body */
body {
  background-image: linear-gradient(to bottom, #202020, #3b3b3b, #202020);
  color: #ffffff;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Links */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #27cc3d;
  transition: all 0.5s ease-out;
}

/* Header */
header {
  display: grid;
  width: 100%;
  height: 60px;
}
.header-div {
  display: flex;
  background-image: linear-gradient(to right, #202020, #3b3b3b, #202020);
}

/* Titles */
.title-primary {
  color: #27cc3d;
}
.title-secondary {
  color: #ffffff;
}

/* Content */
.content-main {
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 150px);
  text-align: center;
}
.content-title {
  display: flex;
  background: #3b3b3b;
}
.progress {
  display: flex;
  margin: auto;
}
.progressBar {
  display: flex;
  margin: auto;
}
.question {
  display: flex;
  margin: auto;
}
.answers {
  display: grid;
  padding: 1rem;
}
.content {
  margin: auto;
  list-style: none;
}

/* Footer */
.footer {
  display: grid;
  background-image: linear-gradient(to right, #202020, #3b3b3b, #202020);
  padding: 1rem;
  max-height: 60px;
  width: 100%;
}
.copyright {
  text-align: center;
}
.icons {
  text-align: center;
}
.icons a {
  padding: 0.4rem;
}

/* H1-H6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
}

/* Buttons */
.button {
  display: grid;
  margin: 5px auto;
  width: 25%;
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
  border: 2px solid #27cc3d;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #27cc3d;
  border: 2px solid #3b3b3b;
  color: #202020;
  transition: all 0.5s ease-out;
}

/* Progress bar */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #27cc3d, #27cc3d);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
  border: 1px #27cc3d solid;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27cc3d;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #3b3b3b;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #27cc3d transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #27cc3d transparent transparent transparent;
}

/* Selection */
.select {
  display: grid;
  margin: 5px auto;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  background-image: url(http://i62.tinypic.com/15xvbd5.png),
    -webkit-linear-gradient(#3b3b3b, #3b3b3b 50%, #3b3b3b);
  background-color: #3b3b3b;
  border: 2px solid #27cc3d;
  color: #ffffff;
  overflow: hidden;
  padding: 15px 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-left: 15px;
  outline: none;
}
.select:hover {
  color: #202020;
  background: #27cc3d;
  background-position: 97% center;
  background-repeat: no-repeat;
  background-image: url(http://i62.tinypic.com/15xvbd5.png),
    -webkit-linear-gradient(#27cc3d, #27cc3d 50%, #27cc3d);
  border: 2px solid #3b3b3b;
  transition: all 0.5s ease-out;
}

/* Media queries */

/* Phone */
/* > 480px */
@media screen and (max-width: 480px) {
  .button {
    width: 75%;
  }
}

/* Tablet */
/* 481px > 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .button {
    width: 50%;
  }
}

/* Laptop / Desktop */
/* 769px > */
@media screen and (min-width: 769px) {
  .button {
    width: 25%;
  }
}
